/* 
    Document   : chinaHeatMap
    Created on : 2013-12-29, 21:27:58
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

#mapdiv{
    width: 50%;
    background-color:#EEEEEE;
    height: 600px;
    float: left;
}
#tabdiv{
    width: 48%;
    float: right;
    height: auto;
    border: 1px solid #DADADA;
}

#tabdiv table {
    width: 100%;
}
#tabdiv table th{
    text-align: left;
    background-color: #1c94c4;
    border-bottom:1px solid #ccc;
    border-left: 1px solid #ccc;
}
#tabdiv table td{
    border-bottom:1px solid #ccc;
    border-left: 1px solid #ccc;
}